<!--
  This is an example template.
  Please modify as required and remove this comment.
-->
{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-componentspage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
  <strong>>>> CONTENT >>></strong>
    {% if page.body_region_alert %}
      <div>
        <h3>
          Body region alert: {{ page.body_region_alert.title }}
        </h3>
        {{ page.body_region_alert.message|richtext }}
      </div>
    {% endif %}

    {% for alert_placement in page.alert_placements.all %}
      <div>
        <h3>
          Alert placement: {{ alert_placement.alert.title }}
        </h3>
        {{ alert_placement.alert.message|richtext }}
      </div>
    {% endfor %}

    <div>
      {{ page.content }}
    </div>
  <strong><<< CONTENT <<<</strong>
{% endblock content %}
