<!--
  This is an example template.
  Please modify as required and remove this comment.
-->
{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load alert_tags breadcrumbs_tags %}

{% block body_class %}template-componentspage{% endblock %}

{% block extra_css %}{% endblock extra_css %}

{% block alerts %}{% alerts %}{% endblock alerts %}

{% block breadcrumbs %}{% breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

    <!-- Multiple alerts on page
    {% for alert_placement in page.alert_placements.all %}
      {% if alert_placement.alert.active %}
        <div>
          <h3>
            Alert placement: {{ alert_placement.alert.title }}
          </h3>
          {{ alert_placement.alert.message|richtext }}
        </div>
      {% endif %}
    {% endfor %}
    -->

    <div>
      {{ page.content }}
    </div>

{% endblock content %}
