<!--
  This is an example template.
  Please modify as required and remove this comment.
-->
{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load alert_tags breadcrumbs_tags jumplinks_tags %}

{% block body_class %}template-componentspage{% endblock %}

{% block extra_css %}{% endblock extra_css %}

{% block alerts %}{% alerts %}{% endblock alerts %}

{% block breadcrumbs %}{% breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

    <div>
      {% jumplinks page=page %}
      {{ page.content }}
    </div>

{% endblock content %}
